/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  background-image: url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
}

.header-container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo-svg {
  margin-top: 18px;
  margin-bottom: 12px;
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 40px;
}
.logo-svg:hover, .logo-svg:focus {
  fill: #2493eb;
  -webkit-transform: scalex(1.2);
          transform: scalex(1.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item {
  margin-right: 76px;
}
.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item--telephone {
  margin-left: auto;
}

.navigation__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #2493eb;
  width: 200px;
  height: 50px;
  -webkit-animation: heartbeat 0.7s infinite;
          animation: heartbeat 0.7s infinite;
  margin-right: 36px;
}
.navigation__item-link:hover, .navigation__item-link:focus {
  background-color: #2493eb;
  color: #ffffff;
  border-color: #2493eb;
}
.navigation__item-link::after {
  content: "";
  position: absolute;
  top: 21px;
  right: -22px;
  display: block;
  width: 33px;
  height: 1px;
  background: #2493eb;
}

.navigation__link--svg {
  margin-right: 9px;
}

.navigation__link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:focus, .navigation__link:hover {
  color: #2493eb;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.header-hero {
  background-image: url(../img/hero/hero_service.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1920px;
  padding-bottom: 175px;
  position: relative;
}

.title__poslugy {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2493eb;
  padding-top: 115px;
  padding-left: 359px;
}

.title__poslugy-h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 359px;
  padding-top: 10px;
}

.container-social-service {
  list-style: none;
  position: absolute;
  right: 20px;
  bottom: 40px;
}

.service-social__list {
  list-style: none;
}

.service-social__item {
  margin-bottom: 24px;
  margin-right: 38px;
}
.service-social__item:last-child {
  margin-bottom: 0;
}

.service-social__link {
  width: 37px;
  height: 37px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service-social__link:focus, .service-social__link:hover {
  border-color: #ffffff;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.service-social__link:focus .hero-social__svg, .service-social__link:hover .hero-social__svg {
  fill: #ffffff;
}

.service-social__svg {
  fill: rgba(255, 255, 255, 0.4392156863);
}

.section-hero {
  position: relative;
  padding-top: 126px;
  padding-bottom: 153px;
  padding-left: 357px;
  border-top: 4px solid rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-hero__title-h1 {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2493eb;
}

.section-hero__title-h2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  max-width: 503px;
  margin-bottom: 37px;
  margin-top: 17px;
}

.section-hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 95px;
  width: 588px;
}

.section-hero__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: #2493eb;
  width: 271px;
}
.section-hero__item:last-child {
  margin-top: -51px;
}

.section-hero__item--absolute {
  width: 216px;
  margin-left: 61px;
}

.section-hero__item-text {
  color: #ffffff;
}

.navigation__link {
  padding-top: 29px;
  padding-bottom: 29px;
}

.section-hero__button {
  position: relative;
  width: 336px;
  height: 60px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #2493eb;
  -webkit-filter: drop-shadow(0px 30px 80px rgba(41, 87, 182, 0.3));
          filter: drop-shadow(0px 30px 80px rgba(41, 87, 182, 0.3));
}
.section-hero__button:hover, .section-hero__button:focus {
  background-color: #2493eb;
}
.section-hero__button::after {
  content: "";
  position: absolute;
  top: 28px;
  right: -35px;
  display: block;
  width: 53px;
  height: 1px;
  background: #2493eb;
}

.hero-social__list {
  list-style: none;
  position: absolute;
  bottom: 49px;
  right: 38px;
}

.hero-social__item {
  margin-bottom: 24px;
  margin-right: 38px;
}
.hero-social__item:last-child {
  margin-bottom: 0;
}

.hero-social__link {
  width: 37px;
  height: 37px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1882352941);
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-social__link:focus, .hero-social__link:hover {
  border-color: #ffffff;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.hero-social__link:focus .hero-social__svg, .hero-social__link:hover .hero-social__svg {
  fill: #ffffff;
}

.hero-social__svg {
  fill: rgba(255, 255, 255, 0.4392156863);
}

.hero--decoration {
  font-family: "Montserrat";
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: absolute;
  bottom: 149px;
  left: 38px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.hero-text--decoration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4392156863);
}

.hero-text--decoration::before {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background: #ffffff;
  opacity: 0.5;
  margin: 0 15px;
}

.hero--decoration--svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.about {
  padding-top: 100px;
  background-color: #ffffff;
  position: relative;
  width: 1920px;
}

.about--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container--text {
  width: 598px;
  margin-right: 198px;
  position: relative;
}

.about__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2493eb;
}

.about__title--h3 {
  font-weight: 800;
  font-size: 45px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #2e2e26;
  margin-top: 10px;
  margin-bottom: 37px;
}

.about__title--h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #2e2e26;
  margin-bottom: 37px;
}

.about__text--paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2e26;
  margin-left: 20px;
}

.about__text-h5 {
  margin-top: 48px;
  margin-left: 55px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #2e2e26;
}

.about__text-h5--strike {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #2e2e26;
}

.about__img {
  width: 567px;
  height: 637px;
}

.about__text-h5--svg {
  position: absolute;
  bottom: 135px;
  left: 3px;
}

.about__text-h6 {
  position: absolute;
  top: 200px;
  left: -544px;
  font-style: normal;
  font-weight: 800;
  font-size: 140px;
  line-height: 2.36;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.15;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.container__hero-services {
  width: 1205px;
  padding: 100px;
  margin: 0 auto;
}

.hero__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  list-style: none;
}

.hero__list-link--span {
  margin: 0 15px;
}

.hero__services--title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
  color: #2e2e26;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2e26;
  margin-top: 30px;
  width: 682px;
}

.expertize {
  width: 1920px;
}

.list__services-expertize {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2493eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 88px;
  padding-left: 20px;
  margin: 10px 0;
}

.list__service-expertize--span {
  color: #2e2e26;
}

.hero__service-img {
  width: 447px;
  margin-top: 100px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.current {
  color: #2493eb;
}

.font__color--black {
  color: #2e2e26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.text__span--blue {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5px;
  color: #2493eb;
}

.container-expertize--left {
  width: 683px;
  margin-right: 71px;
}

.service {
  padding: 100px 0;
  background-color: #f2f2f4;
  position: relative;
  width: 1920px;
}

.service__title--h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #2493eb;
}

.service__title--h3 {
  font-weight: 800;
  font-size: 45px;
  line-height: 1.22;
  text-transform: uppercase;
  text-align: center;
  color: #2e2e26;
  margin-bottom: 72px;
  margin-top: 10px;
}

.service__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-left: 360px;
  margin-right: 361px;
  gap: 103px;
  list-style: none;
}

.service__span-number {
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 1.82px;
  text-transform: uppercase;
  color: #2493eb;
  opacity: 0.1;
  margin-right: -15px;
}

.service__img {
  width: 310px;
  display: block;
}

.service__title--h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
  text-align: left;
  width: 290px;
  height: 40px;
  padding-left: 20px;
}

.service__item--before01::before {
  position: absolute;
  top: -22px;
  left: -22px;
  content: "01";
  display: block;
  width: 63px;
  height: 63px;
  background-color: #2493eb;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 20px;
  color: #ffffff;
}

.service__item--before02::before {
  position: absolute;
  top: -22px;
  left: 392px;
  content: "02";
  display: block;
  width: 63px;
  height: 63px;
  background-color: #2493eb;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 20px;
  color: #ffffff;
}

.service__item--before03::before {
  position: absolute;
  top: -22px;
  left: 803px;
  content: "03";
  display: block;
  width: 63px;
  height: 63px;
  background-color: #2493eb;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 20px;
  color: #ffffff;
}

.service__item--before04::before {
  position: absolute;
  top: 430px;
  left: -22px;
  content: "04";
  display: block;
  width: 63px;
  height: 63px;
  background-color: #2493eb;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 20px;
  color: #ffffff;
}

.service__item--before05::before {
  position: absolute;
  top: 430px;
  left: 390px;
  content: "05";
  display: block;
  width: 63px;
  height: 63px;
  background-color: #2493eb;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 20px;
  color: #ffffff;
}

.service__item--before06::before {
  position: absolute;
  top: 430px;
  left: 803px;
  content: "06";
  display: block;
  width: 63px;
  height: 63px;
  background-color: #2493eb;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 20px;
  color: #ffffff;
}

.service__button {
  position: relative;
  width: 336px;
  height: 60px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 800px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2e2e26;
  background-color: transparent;
  border: 1px solid #2493eb;
  -webkit-filter: drop-shadow(0px 30px 80px rgba(41, 87, 182, 0.3));
          filter: drop-shadow(0px 30px 80px rgba(41, 87, 182, 0.3));
}
.service__button:hover, .service__button:focus {
  background-color: #2493eb;
  color: #ffffff;
}
.service__button::after {
  content: "";
  position: absolute;
  top: 28px;
  right: -35px;
  display: block;
  width: 53px;
  height: 1px;
  background: #2493eb;
}

.service__item--decor01 {
  position: absolute;
  top: 41px;
  left: -235px;
}

.service__item--decor02 {
  position: absolute;
  top: 41px;
  left: 178px;
}

.service__item--decor03 {
  position: absolute;
  top: 41px;
  left: 590px;
}

.service__item--decor04 {
  position: absolute;
  top: 493px;
  left: -235px;
}

.service__item--decor05 {
  position: absolute;
  top: 493px;
  left: 178px;
}

.service__item--decor06 {
  position: absolute;
  top: 493px;
  left: 590px;
}

.service-list--decor {
  list-style: none;
}

.service--decor--reg90 {
  position: absolute;
  top: 480px;
  left: -480px;
  font-style: normal;
  font-weight: 800;
  font-size: 140px;
  line-height: 2.36;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.15;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.service--decor--reg180 {
  position: absolute;
  top: 480px;
  right: -450px;
  font-style: normal;
  font-weight: 800;
  font-size: 140px;
  line-height: 2.36;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.15;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.text__location {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.svg__location {
  margin-right: 17px;
}

.section__designing {
  width: 1920px;
  background: #f2f2f4;
}

.container__designing {
  margin: 0 auto;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__designing__img {
  margin-right: 71px;
  -o-object-fit: cover;
     object-fit: cover;
}

.designing__block--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 38px;
}

.designing__block--span {
  color: #2b2b2b;
}

.designing__block--item {
  color: #2493eb;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
.help {
  background-image: url(../img/help/help.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1920px;
}

.help__title {
  font-weight: 800;
  font-size: 45px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #ffffff;
  width: 390px;
  padding: 100px 0;
}

.help__form {
  width: 600px;
  margin-left: 206px;
  background-color: rgba(0, 0, 0, 0.3764705882);
  padding-top: 100px;
  position: relative;
}

.help__title--h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  margin-left: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

.help__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 31px;
  color: #ffffff;
}

.help__lable {
  margin-left: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: rgba(255, 255, 255, 0.4392156863);
  position: absolute;
}

.help__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4392156863);
  height: 28px;
  color: #ffffff;
  margin-left: 40px;
  width: 240px;
  outline: none;
}
.help__input:last-child {
  margin-right: 0;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
  margin-left: 40px;
}

.form-checkbox__input {
  width: 25px;
  height: 25px;
  margin-right: 18px;
}

.form-checkbox__leble {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.4392156863);
  width: 220px;
  height: 42px;
}

.help__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  width: 241px;
  height: 60px;
  margin-left: 20px;
  background-color: #2493eb;
  border: #2493eb;
  cursor: pointer;
}

.benefits {
  padding: 100px 0;
  position: relative;
  width: 1920px;
}

.benefit-container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.benefits__h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2493eb;
}

.benefits__h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 1.22;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #2e2e26;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -20px;
}

.benefits__item {
  position: relative;
  background-color: #fcfcfc;
  display: block;
  padding-top: 30px;
  padding-bottom: 69px;
  margin: 20px;
  -ms-flex-preferred-size: calc((100% - 120px) / 3);
      flex-basis: calc((100% - 120px) / 3);
}
.benefits__item:nth-child(n+4) {
  margin-bottom: 0;
}

.benefits__svg {
  margin-left: 47px;
  margin-bottom: 26px;
}

.decoration--befor01::after {
  position: absolute;
  top: 25px;
  right: 35px;
  content: "01";
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;
  color: #2493eb;
}

.decoration--befor02::after {
  position: absolute;
  top: 25px;
  right: 35px;
  content: "02";
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;
  color: #2493eb;
}

.decoration--befor03::after {
  position: absolute;
  top: 25px;
  right: 35px;
  content: "03";
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;
  color: #2493eb;
}

.decoration--befor04::after {
  position: absolute;
  top: 25px;
  right: 35px;
  content: "04";
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;
  color: #2493eb;
}

.decoration--befor05::after {
  position: absolute;
  top: 25px;
  right: 35px;
  content: "05";
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;
  color: #2493eb;
}

.decoration--befor06::after {
  position: absolute;
  top: 25px;
  right: 35px;
  content: "06";
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;
  color: #2493eb;
}

.benefits__h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  margin-left: 47px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #252525;
  margin-bottom: 15px;
}

.benefits__h4::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #2493eb;
  margin-left: -6px;
}

.benefits__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #252525;
  margin-left: 47px;
  width: 279px;
}

.benefits__button {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: #fff;
  color: #2e2e26;
  border: 1px solid #2493eb;
  width: 300px;
  height: 60px;
  margin-top: 50px;
  cursor: pointer;
}
.benefits__button:hover, .benefits__button:focus {
  background-color: #2493eb;
  color: #fff;
}

.benefits__button::after {
  position: absolute;
  top: 30px;
  right: -35px;
  content: "";
  display: block;
  width: 53px;
  height: 1px;
  background-color: #2493eb;
}

.benefits-button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__list--decor {
  list-style: none;
}

.benefits__item--decor90reg {
  position: absolute;
  top: 350px;
  left: -320px;
  font-style: normal;
  font-weight: 800;
  font-size: 140px;
  line-height: 2.36;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.15;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.benefits__item--decor180reg {
  position: absolute;
  top: 350px;
  right: -300px;
  font-style: normal;
  font-weight: 800;
  font-size: 140px;
  line-height: 2.36;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  opacity: 0.15;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.clients {
  background-color: #f2f2f4;
  padding: 100px 0;
  width: 1920px;
}

.clients-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.clients-title-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2493eb;
}

.clients-title-h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 1.22;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #2e2e26;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.clients__item {
  margin: 41px 0;
  margin-left: 41px;
}

.clients__img {
  width: 150px;
}

.footer {
  margin: 0;
  padding-top: 100px;
  background-image: url(../img/contacts/Rectangle.png);
  background-size: cover;
  position: relative;
  width: 1920px;
}

.container-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contacts__title {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 51px;
}

.contacts-telefon__list {
  list-style: none;
}

.contact-telefon__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
}

.contacts__address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
  width: 380px;
  margin-bottom: 25px;
}

.work__list {
  list-style: none;
}

.work__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
}

.work__item--text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
}

.mail__text {
  margin: 25px 0;
}

.link__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
  text-decoration: none;
}

.contacts-from {
  width: 600px;
  position: absolute;
  top: 0;
  right: 360px;
  padding-top: 108px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.3764705882);
}

.contacts-form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  margin-left: 45px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

.container-form__input {
  margin-left: 40px;
}

.contacts__input {
  position: relative;
  color: #ffffff;
  height: 28px;
  background-color: transparent;
  outline: none;
  border: none;
}

.contacts-form__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  margin-left: 45px;
  margin-bottom: 31px;
  color: #ffffff;
}

.contacts__input {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3764705882);
  position: relative;
}

.contacts__texteria {
  margin-top: 51px;
  width: 520px;
  height: 74px;
  margin-left: 40px;
  background-color: transparent;
  color: #ffffff;
  resize: none;
}

.lable-texteria__question {
  top: 280px;
  left: 44px;
  position: absolute;
}

.input-checkbox__question {
  margin-left: 44px;
  width: 25px;
  height: 25px;
}

.form-container-question--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.lable-checkbox__question {
  margin-left: 18px;
  margin-right: 68px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.3764705882);
}

.form-contact__button {
  background-color: #2493eb;
  width: 241px;
  height: 60px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: #2493eb;
  color: #ffffff;
  cursor: pointer;
}

.navigation-footer__container {
  margin-top: 73px;
  background-color: rgb(33, 33, 29);
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-footer__svg {
  fill: #ffffff;
  margin-left: 40px;
  cursor: pointer;
}
.navigation-footer__svg:hover, .navigation-footer__svg:focus {
  fill: #2493eb;
  -webkit-transform: scale(1.3, 1);
          transform: scale(1.3, 1);
}

.navigation-footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-footer__item {
  margin-left: 76px;
}
.navigation-footer__item:first-child {
  margin-left: 0;
}

.navigation-footer__link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.navigation-footer__link:hover, .navigation-footer__link:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #2493eb;
}

.footer-socsety__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 36px;
}

.footer-socsety__item {
  display: block;
  margin-left: 10px;
}

.footer-socsety__svg {
  fill: rgba(255, 255, 255, 0.3764705882);
}

.footer-socsety__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 37px;
  height: 37px;
  border: 1px solid rgba(255, 255, 255, 0.4392156863);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-socsety__link:hover, .footer-socsety__link:focus {
  border-color: #ffffff;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.footer-socsety__link:hover .footer-socsety__svg, .footer-socsety__link:focus .footer-socsety__svg {
  fill: #ffffff;
}

.footer-simbol__text {
  padding: 14px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  color: rgba(242, 242, 244, 0.4392156863);
  text-align: center;
  background-color: #000;
}/*# sourceMappingURL=main.css.map */