.benefits {
  padding:100px 0;
  position: relative;
}

.benefit-container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.benefits__h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #2493EB;
}

.benefits__h3 {
font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 1.22;
  margin-bottom: 50px;

  text-align: center;
  text-transform: uppercase;

  color: #2E2E26;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
}

.benefits__item {
  position: relative;
  background-color:#FCFCFC;
  display: block;
  padding-top:30px;
  padding-bottom: 69px;
margin: 20px;
flex-basis: calc((100% - 2 * 60px) / 3);
&:nth-child(n+4) {
  margin-bottom: 0;
}
}

.benefits__svg {
  margin-left: 47px;
  margin-bottom: 26px;
}

.decoration--befor01::after {
  position: absolute;
  top:25px;
  right:35px;
  content:'01';
  display: block;

  font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.31;

    color: #2493EB;
}
.decoration--befor02::after {
  position: absolute;
  top: 25px;
  right: 35px;
  content: '02';
  display: block;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;

  color: #2493EB;
}

.decoration--befor03::after {
  position: absolute;
  top: 25px;
  right: 35px;
  content: '03';
  display: block;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;

  color: #2493EB;
}
.decoration--befor04::after {
  position: absolute;
  top: 25px;
  right: 35px;
  content: '04';
  display: block;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;

  color: #2493EB;
}
.decoration--befor05::after {
  position: absolute;
  top: 25px;
  right: 35px;
  content: '05';
  display: block;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;

  color: #2493EB;
}
.decoration--befor06::after {
  position: absolute;
  top: 25px;
  right: 35px;
  content: '06';
  display: block;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.31;

  color: #2493EB;
}
.benefits__h4 {
  font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    margin-left: 47px;

  
    letter-spacing: 0.02em;
    text-transform: uppercase;
  
    color: #252525;
    margin-bottom: 15px;
}

.benefits__h4::before{
  content:"";
  display: block;
  width: 4px;
  height: 4px;
  background-color:#2493EB;
margin-left: -6px;
}

.benefits__text {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    color: #252525;
    margin-left: 47px;
    width: 279px;
}

.benefits__button {
  position: relative;
font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.50;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color:#fff;
  color: #2E2E26;
  border:1px solid #2493EB;

  width: 300px;
  height: 60px;
  margin-top: 50px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color:#2493EB;
    color:#fff;
  }

}

.benefits__button::after {
  position: absolute;
  top:30px;
  right: -35px;
  content:'';
  display: block;
  width: 53px;
    height: 1px;
    background-color:#2493EB;
}

.benefits-button__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__list--decor {
  list-style: none;
}
.benefits__item--decor90reg {
  position: absolute;
    top: 350px;
    left: -320px;
    font-style: normal;
    font-weight: 800;
    font-size: 140px;
    line-height: 2.36;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    opacity: 0.15;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    transform: rotate(-90deg);
}

.benefits__item--decor180reg {
  position: absolute;
    top: 350px;
    right: -300px;
    font-style: normal;
    font-weight: 800;
    font-size: 140px;
    line-height: 2.36;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    opacity: 0.15;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    transform: rotate(-270deg);
    }