.contacts {
    padding-top: 100px;
    padding-bottom: 20px;
    background-image: url(../img/contacts/Rectangle.png);
    background-size: cover;
}

.container-contacts {
    width: 1200px;
    display: flex;

}