.footer {
 padding-top: 100px;
 padding-bottom: 77px;
 background-image: url(../img/contacts/Rectangle.png);
 background-size: cover;
 position: relative;
}

.container-footer {
 width: 1200px;
 margin-left: auto;
 margin-right: auto;
}
.contacts__title {
 font-style: normal;
 font-weight: 800;
 font-size: 45px;
 line-height: 1.22;
 text-transform: uppercase;

 color: #ffffff;
 margin-bottom: 51px;
}
.contacts-telefon__list {
 list-style: none;
}
.contact-telefon__link {
 text-decoration: none;
 font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 1.38;

 color: #ffffff;
}

.contacts__address {
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.38;

 color: #ffffff;
 width: 380px;
 margin-bottom: 25px;
}

.work__list {
 list-style: none;
}

.work__item {
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.38;
 color: #ffffff;
}

.work__item--text {
 font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 1.38;

 color: #ffffff;
}

.mail__text {
 margin: 25px 0;
}

.link__mail {
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.38;

 color: #ffffff;
 text-decoration: none;
}
.contacts-from {
    width: 600px;
    position: absolute;
    top:0;
    right: 370px;
    padding-top:108px;
    padding-bottom: 77px;
    background-color:#00000060;

}
.contacts-form__title {
 font-style: normal;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.5;
 margin-left: 45px;
 margin-bottom: 15px;

 text-transform: uppercase;

 color: #ffffff;
}

.container-form__input {
    margin-left: 40px;
}

.contacts__input {
    position: relative;
    color:#ffffff;
    height: 28px;
    background-color:transparent;

}
.contacts-form__text {
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.38;
 margin-left: 45px;
 margin-bottom: 31px;

 color: #ffffff;
}

.contacts__texteria {
    margin-top: 51px;
    width: 520px;
    height: 74px;
    margin-left: 40px;
    background-color:transparent;
    color:#ffffff;
    resize: none;
}

.lable-texteria__question {
top:280px;
left:44px;
 position: absolute;
}
.input-texteria__question {
    margin-left: 44px;
    width: 25px;
    height: 25px;
    margin-top: 48px;
}