.container-header--flex {
  display: flex;
  align-items: center;
  justify-content: space-between

}
.container--img {
  background-image: url(/img/hero/hero.jpg);
  background-size:contain;
}

.header-navigation {
  display: flex;
}
.navigation__list {
  text-decoration: none;
  display: flex;
}

.navigation__item {
  text-decoration: none;
}

.address__list {
  display: flex;
}