// хедер сторінки
.header {
  background-image:url(../img/hero/hero.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  width: 1920px;

}
.navigation {
  display: flex;
 align-items:center;
 justify-content: space-around;
border-bottom: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-svg {
  margin-top: 18px;
  margin-bottom: 12px;
  fill: #FFFFFF;
  &:hover,
  &:focus{
    fill:#2493EB;
  }
  
}

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation__item {
  margin-right: 76px;

  &:last-child {
    margin-right: 76px;
  }
}

.navigation__item--telephone {
  margin-left: auto;
}
.navigation__item-link {
  display: flex;
  font-style: normal;
  align-items:center;
font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;
text-transform: uppercase;

color:#FFFFFF;
}

.navigation__link--svg {
  margin-right: 9px;
}

.navigation__link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;
text-transform: uppercase;

color:#FFFFFF;

&:focus,
&:hover {
  color:#2493EB;
}
}

.section-hero {
  position: relative;
  padding-top: 126px;
  padding-bottom: 153px;
  padding-left: 357px;

}
.container--flex {
  display: flex;
  align-items: center;
}

.section-hero__title-h1 {
 font-weight: 800;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #2493EB;
}

.section-hero__title-h2 {
font-weight: 800;
font-size: 50px;
line-height: 1.2;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #FFFFFF;
width: 100%;
max-width: 503px;
margin-bottom: 37px;
margin-top: 17px;
}

.section-hero__list {
margin-left: 95px;
display: block;
width: 271px;
position: relative;
}

.section-hero__item {
font-weight: 700;
font-size: 18px;
line-height: 1.33;
color:#2493EB;
width: 271px;
margin-bottom: 19px;
}
.section-hero__item--absolute {
  position: absolute;
  top:0;
  right: -300px;
}

.section-hero__item-text {
  color:#FFFFFF;
}

.navigation__link {
  padding-top: 29px;
  padding-bottom: 29px;
}

// кнопка в хедері
.section-hero__button {
  position: relative;
  width: 336px;
  height:60px;
  cursor: pointer;

font-weight: 600;
font-size: 14px;
line-height: 1.50;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
background-color: transparent;

border: 1px solid #2493EB;
filter: drop-shadow(0px 30px 80px rgba(41, 87, 182, 0.3));

&:hover,
&:focus {
  background-color:#2493EB;

}
&::after{
  content:"";
  position: absolute;
  top:28px;
  right: -35px;
  display: block;
  width: 53px;
height: 1px;
background: #2493EB;
}
}

// соціальні мережі героя
.hero-social__list {
  list-style: none;
  position: absolute;
  bottom:49px;
  right: 38px;
}

// декорація героя

.hero--decoration {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom:149px;
  left:38px;
  transform: rotate(270deg);
}
.hero-text--decoration {
  display: flex;
  align-items:center;
  font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
letter-spacing: 0.02em;
text-transform: uppercase;
}

.hero-text--decoration::before {
  content:"";
  display: block;
  width: 70px;
height: 1px;
background: #FFFFFF;
opacity: 0.5;
margin: 0 15px;
}

.hero--decoration--svg {
transform: rotate(90deg);
}

// секція про нас
.about {
  padding: 46px 0;
  background-color:#FFFFFF;
  width: 1500px;
}
.about--flex {
  display: flex;
}
.about-container--text {
width: 598px;
margin-right: 198px;
}
.about__title {
 font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #2493EB;

}

.about__title--h3 {
  font-weight: 800;
font-size: 45px;
line-height: 1.22;
text-transform: uppercase;
color: #2E2E26;
margin-top: 10px;
margin-bottom: 37px;
}

.about__title--h4 {
  font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.50;

color: #2E2E26;
margin-bottom: 37px;
}

.about__text--paragraph {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.50;
color: #2E2E26;
margin-left: 20px;
}

.about__text-h5 {
font-weight: 400;
font-size: 18px;
line-height: 1.50px;
letter-spacing: 0.01em;
text-transform: uppercase;

color: #2E2E26;

}

.about__text-h5--about__text-h5--experience {
  font-weight: 700;
font-size: 18px;
line-height: 1.50;
letter-spacing: 0.01em;
text-transform: uppercase;

color: #2E2E26;

margin-left: -30px;
}

.about__text-h5--svg {
  margin-top: 20px;
  
}


