
.container--img {
  background-image:url(/img/hero/hero.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around
}
.navigatiom__list {
  display: flex;
}