.help {
  background-image:url(../img/help/help.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  display: flex;
  justify-content: center;
}

.help__title {
  font-weight: 800;
font-size: 45px;
line-height: 1.22;
text-transform: uppercase;

color: #FFFFFF;

width: 390px;
padding: 100px 0;
}

.help__form {
  width: 600px;
  margin-left:206px; 
  background-color: #00000060;
  padding-top: 100px;
  position: relative;
}

.help__title--h3 {
font-weight: 700;
font-size: 18px;
line-height: 1.5;
margin-left: 40px;

text-transform: uppercase;
color: #FFFFFF;
}

.help__text {
font-style: normal;

font-weight: 400;
font-size: 16px;
line-height: 1.38;
margin-left: 40px;
margin-top: 10px;
margin-bottom: 31px;

color: #FFFFFF;
}

.help__lable {
  margin-left: 40px;
  font-weight: 400;
font-size: 14px;
line-height: 1.57;
  color:#ffffff70;
  position: absolute;
 }

.help__input {
  background-color:transparent;
  border: none;
border-bottom:1px solid #ffffff70;
height: 28px;
color:#FFFFFF;
margin-right: 39px;
margin-left: 40px;
&:last-child {
  margin-right: 0;
}
}

.help__button {
  font-weight: 600;
font-size: 14px;
line-height: 1.50;

text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
  margin-top: 38px;
  width: 241px;
  height: 60px;
  background-color:#2493EB;
 border:#2493EB;
}



