.service {
  padding:100px 0;
  background-color: #F2F2F4;
}
.service__title--h2 {
font-weight: 700;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.05em;
text-transform: uppercase;
text-align: center;
color: #2493EB;
}

.service__title--h3 {
font-weight: 800;
font-size: 45px;
line-height: 1.22;
text-transform: uppercase;
text-align: center;
color: #2E2E26;
margin-bottom: 50px;
}
.service__list {
display: flex;
flex-wrap: wrap;
list-style: none;
margin:-20px;
width: 1200px;

}

.service__item {
  width: calc((100%-120px) / 3);
  margin: 20px;
  width: 373px;
}

.service__title--h4{
  font-weight: 600;
font-size: 16px;
line-height:1.25;
color: #2B2B2B;
}
